<ul class="items-list">
  {{#each items}}
    <li class="item">
      <h2 class="item-title">{{name}}</h2>
      <p class="item-price">Price: {{price}}$</p>
      <p class="item-description">{{description}}</p>
    </li>
  {{/each}}
</ul>